@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    box-sizing: border-box;
    transition: 0.3s;
    color: #eee5ff;
    scroll-behavior: smooth;
}

body{
    background-color: #1C1033;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

nav{
    position: absolute;
    width: 100vw;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

nav *{
    font-size: 20px;
    color: #eee5ff;
}
nav a{
    text-decoration: none;
    padding: 10px 15px;
}
nav ul a:first-child{
    font-weight: 600;
}

nav ul a{
    position: relative;
}
nav ul a:after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    transform: scaleX(0);
    height: 2px;
    bottom: 5px;
    left: 15px;
    background-color: #eee5ff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
nav ul a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


nav > a{
    border-radius: 30px;
    border: 2px solid #eee5ff;
    margin-right: 20px;
}
nav > a:hover{
    background-color: #eee5ff;
    color: #1C1033;
}


.flexcontainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 56px;
}

p.small{
    font-size: 24px;
}

img{
    max-height: 100%;
}

.page#home{
    justify-content: center;
}

#home .titre{
    display: flex;
    flex-direction: column;
}


@keyframes slidein_txt {
    0% {
        bottom: -100px;
    }
    100% {
        bottom: 0;
    }
}
#home .titre h1{
    bottom: -100px;
    animation-duration: .5s;
    animation-name: slidein_txt;
    animation-fill-mode: forwards;
    position: relative;
}
#home .titre h1:nth-child(1){
    animation-delay: 0s;
    z-index: 5;
}
#home .titre h1:nth-child(2){
    animation-delay: .4s;
    z-index: 4;
}
#home .titre h1:nth-child(3){
    animation-delay: .8s;
    z-index: 3;
}  



@keyframes slidein_box {
    0% {
        bottom: 50px;
        opacity: 100;
    }

    99% {
        opacity: 100;
    }
    100% {
        opacity: 0;
        bottom: -50px;
    }
}
#home h1 {
    position: absolute;
}
#home h1:after {
    content:"";
    position:absolute;
    width: calc(100% - 51px);
    bottom:50px;
    left: 25px;
    z-index:1;
    transform:scale(.9);
    box-shadow: 0 0 0 60px #1C1033;
    animation-duration: .5s;
    animation-name: slidein_box;
    animation-fill-mode: forwards;}

#home .titre h1:nth-child(1):after{
    animation-delay: 0s;
    z-index: 5;
}
#home .titre h1:nth-child(2):after{
    animation-delay: .4s;
    z-index: 4;
}
#home .titre h1:nth-child(3):after{
    animation-delay: .8s;
    z-index: 3;
}

.page{
    height: 100vh;
    margin-bottom: 20vh;
}

.page .left{
    height: 86vh;
    width: 50vw;
}
.page .right{
    height: 86vh;
    width: 50vw;
}

.page > * {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.part.flexcontainer{
    flex-direction: column;
    height: 30vh;
    margin-bottom: 10vh;
}

.page#presentation .left{
    padding: 20vh 0;
    width: unset;
}

.page:not(.flexcontainer) > h1{
    text-align: center;
    padding-top: 5vh;
}
.page > .flexcontainer{
    display: flex;
    flex-direction: row;
}

.left.flexcontainer, .right.flexcontainer{
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 80vh;
}

#sweatshirts .left img{
    margin-top: -40px;
}

.right img, .left img{
    max-width: 27vw;
}

.page#totebags .left{
    padding: 5vh 0;
    width: 40vw;
    padding-bottom: 10vh;
}

.page#totebags .right{
    align-items: flex-start;
    justify-content: space-around;
    padding: 10vh 0 20vh 0;
}

.page#command .flexcontainer{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10vh;
    height: 60vh;
    padding: 0 20vw;
}

#contact .right , #contact .left{
    width: 50vw;
    margin-top: -20vh;
    height: 40vh;
    align-items: center;
    justify-content: space-between;
}
#contact img{
    height: 20vh;
    filter: invert();
    opacity: 0.7;
}

footer{
    width: 100vw;
    height: 15vh;
    padding-bottom: 15px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.background{
    z-index: -10;
}
.background .blob{
    position: absolute;
    filter: blur(50px);
    max-height: 80vh;
    opacity: 0.8;
}

.blob:nth-child(1){
    left: 0;
    top: 30vh;
    height: 40vh;
}

.blob:nth-child(2){
    right: -15vw;
    top: 60vh;
}
.blob:nth-child(3){
    left: 10vw;
    top: 110vh;
    height: 60vh;
}
.blob:nth-child(4){
    right: 15vw;
    top: 200vh;
    height: 60vh;
}
.blob:nth-child(5){
    left: 10vw;
    top: 265vh;
    height: 60vh;
}
.blob:nth-child(6){
    right: -15vw;
    top: 345vh;
    height: 75vh;
}
.blob:nth-child(7){
    left: 10vw;
    top: 405vh;
    height: 50vh;
}
.blob:nth-child(8){
    left: 50vw;
    top: 450vh;
    height: 70vh;
    opacity: .5;
}
.blob:nth-child(9){
    left: 10vw;
    top: 500vh;
    height: 60vh;
    opacity: .5;
}
.blob:nth-child(10){
    left: 40vw;
    top: 550vh;
    height: 70vh;
    opacity: .5;
}
.blob:nth-child(11){
    left: 25vw;
    top: 635vh;
    height: 60vh;
    opacity: .4;
}
.blob:nth-child(12){
    left: 50vw;
    top: 700vh;
    height: 40vh;
    opacity: .3;
}

@media screen and (min-width: 850px){
    .phone{
        display: none;
    }
}


@media screen and (max-width: 850px){
    nav ul{
        display: none;
    }
    nav{
        justify-content: center;
    }
    h1{
        font-size: 46px;
    }
    h3{
        font-size: 32px;
        text-align: center;
    }
    p{
        font-size: 20px;
    }
    .page.flexphone p{
        text-align: center;
        margin: auto;
    }
    .desktop{
        display: none;
    }
    .left, .right{
        width: 80vw;
    }
    .page{
        min-height: 80vh;
    }
    .page.flexphone{
        margin-top: 200px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .flexphone > .flexcontainer{
        margin-top: 100px;
        flex-direction: column;
    }
    .right h1, .left h1{
        margin-top: 100px;
        margin-bottom: 30px;
        text-align: center;
    }
    .right img, .left img{
        max-width: 70vw;
        width: 400px;
    }
    .flexcontainer{
        height: unset;
    }
    .page#totebags{
        margin-top: 500px;
        height: unset;
    }
    .page#totebags img{
        max-width: 60vw;
    }
    .page#totebags h1{
        margin-bottom: -100px;
    }
    .page#totebags .right{
        height: 60vh;
        margin-top: -100px;
    }

    #contact {
        margin-top: 0;
    }
    #contact > .flexcontainer {
        align-items: flex-start;
    }
    #contact > .flexcontainer >.flexcontainer{
        flex-direction: row;
        justify-content: flex-start;
    }
    #contact img{
        width: 15vw;
        max-width: 80px;
        margin: 0 7vw 0 10vw;
    }

    .blob:nth-child(1){
        display: none;
    }
    .blob:nth-child(2){
        right: -35vw;
        top: 80vh;
        opacity: .6;
    }
    .blob:nth-child(3){
        display: none;
    }
    .blob:nth-child(4){
        left: -10vw;
        top: 180vh;
        height: 60vh;
        opacity: .6;
    }
    .blob:nth-child(6){
        display: none;
    }
    .blob:nth-child(7){
        left: 0;
        top: 405vh;
        height: 50vh;
    }
    .blob:nth-child(9){
        display: none;
    }
    .blob:nth-child(10){
        left: 10vw;
        top: 550vh;
        height: 70vh;
        opacity: .5;
    }
}
